<section class="footer">
    <span class="footer_title">
        © 2021 ITCrats Pvt. Ltd | All rights reserved.
        Proudly Made in India
    </span>
    <nav class="footer_nav">
        <a routerLink="/home"
           class="f_nav">Home</a>
        <a routerLink="/services"
           class="f_nav">Services</a>
        <a routerLink="/contactus"
           class="f_nav">Contact Us</a>
    </nav>
    <div class="social_icons">
        <a href="http://fb.com">
            <img src="./assets/fb.png"
                 class="fb">
        </a>
        <a href="http://twitter.com">
            <img src="./assets/twitter.png"
                 class="fb">
        </a>
        <a href="http://linkedin.com">
            <img src="./assets/linkedin.png"
                 class="fb">
        </a>
        <a href="http://instagram.com">
            <img src="./assets/insta.png"
                 class="fb">
        </a>
    </div>
</section>
