<div style="height: 1220px;">
    <p>
        Home page
    </p>

    <section>
        <mat-card class="supports">
            <h5 class="support_title">
                Supported By
            </h5>
            <div class="row scroll">
                <div class="support_img">
                    <img src="./assets/support_image1.png"
                         class="support_image">
                </div>
                <!-- <div class="support_img">
                    <img src="./assets/support_image1.png"
                         class="support_image">
                </div>
                <div class="support_img">
                    <img src="./assets/support_image1.png"
                         class="support_image">
                </div>
                <div class="support_img">
                    <img src="./assets/support_image1.png"
                         class="support_image">
                </div>
                <div class="support_img">
                    <img src="./assets/support_image1.png"
                         class="support_image">
                </div> -->
                <mat-card class="see_more">
                    <img src="./assets/see_more.png"
                         (click)="onClick()"
                         class="see_more_img">
                </mat-card>
            </div>

        </mat-card>
    </section>
    <section class="rating">
        <img src="./assets/invalid.png"
             class="img">
        <p class="rating_title">
            What people talk about PASS Roots
        </p>
        <section class="row ratings">
            <!-- <div class="rates"> -->
            <mat-card class="rates">
                <div class="col">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                </div>
                <p class="comment">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s,
                </p>
                <p class="review">
                    Review By
                </p>
                <p class="review_by">
                    Sandeep Siddamsetty
                </p>
            </mat-card>
            <!-- </div> -->
            <mat-card class="rates">
                <div class="col">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                </div>
                <p class="comment">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s,
                </p>
                <p class="review">
                    Review By
                </p>
                <p class="review_by">
                    Sandeep Siddamsetty
                </p>
            </mat-card>
            <mat-card class="rates">
                <div class="col">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                </div>
                <p class="comment">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s,
                </p>
                <p class="review">
                    Review By
                </p>
                <p class="review_by">
                    Sandeep Siddamsetty
                </p>
            </mat-card>
            <mat-card class="rates">
                <div class="col">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                    <img src="./assets/star.png"
                         class="star">
                </div>
                <p class="comment">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s,
                </p>
                <p class="review">
                    Review By
                </p>
                <p class="review_by">
                    Sandeep Siddamsetty
                </p>
            </mat-card>
        </section>
    </section>
</div>
